// Normalize SCSS
@use './lib/normalize.scss';

// Variables SCSS
@use './variables/color.scss';
@use './variables/font-size.scss';

// Base SCSS
@use './base/general.scss';

// Shared SCSS
@use './shared/typography.scss';
@use './shared/text-color.scss';
@use './shared/bg-color.scss';
