.bg-gray-50 {
  background-color: var(--color-gray-50);
}

.bg-gray-100 {
  background-color: var(--color-gray-100);
}

.bg-gray-200 {
  background-color: var(--color-gray-200);
}

.bg-gray-300 {
  background-color: var(--color-gray-300);
}

.bg-gray-400 {
  background-color: var(--color-gray-400);
}

.bg-gray-500 {
  background-color: var(--color-gray-500);
}

.bg-gray-600 {
  background-color: var(--color-gray-600);
}

.bg-gray-700 {
  background-color: var(--color-gray-700);
}

.bg-gray-800 {
  background-color: var(--color-gray-800);
}

.bg-gray-900 {
  background-color: var(--color-gray-900);
}

.bg-gray-950 {
  background-color: var(--color-gray-950);
}

.bg-green-50 {
  background-color: var(--color-green-50);
}

.bg-green-100 {
  background-color: var(--color-green-100);
}

.bg-green-200 {
  background-color: var(--color-green-200);
}

.bg-green-300 {
  background-color: var(--color-green-300);
}

.bg-green-400 {
  background-color: var(--color-green-400);
}

.bg-green-500 {
  background-color: var(--color-green-500);
}

.bg-green-600 {
  background-color: var(--color-green-600);
}

.bg-green-700 {
  background-color: var(--color-green-700);
}

.bg-green-800 {
  background-color: var(--color-green-800);
}

.bg-green-900 {
  background-color: var(--color-green-900);
}

.bg-green-950 {
  background-color: var(--color-green-950);
}
