.text-gray-50 {
  color: var(--color-gray-50);
}

.text-gray-100 {
  color: var(--color-gray-100);
}

.text-gray-200 {
  color: var(--color-gray-200);
}

.text-gray-300 {
  color: var(--color-gray-300);
}

.text-gray-400 {
  color: var(--color-gray-400);
}

.text-gray-500 {
  color: var(--color-gray-500);
}

.text-gray-600 {
  color: var(--color-gray-600);
}

.text-gray-700 {
  color: var(--color-gray-700);
}

.text-gray-800 {
  color: var(--color-gray-800);
}

.text-gray-900 {
  color: var(--color-gray-900);
}

.text-gray-950 {
  color: var(--color-gray-950);
}

.text-green-50 {
  color: var(--color-green-50);
}

.text-green-100 {
  color: var(--color-green-100);
}

.text-green-200 {
  color: var(--color-green-200);
}

.text-green-300 {
  color: var(--color-green-300);
}

.text-green-400 {
  color: var(--color-green-400);
}

.text-green-500 {
  color: var(--color-green-500);
}

.text-green-600 {
  color: var(--color-green-600);
}

.text-green-700 {
  color: var(--color-green-700);
}

.text-green-800 {
  color: var(--color-green-800);
}

.text-green-900 {
  color: var(--color-green-900);
}

.text-green-950 {
  color: var(--color-green-950);
}

.text-white {
  color: var(--color-white);
}

.text-black {
  color: var(--color-black);
}
