.text-xs {
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
}

.text-sm {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}

.text-base {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
}

.text-lg {
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
}

.text-xl {
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
}

.text-2xl {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl--line-height);
}

.text-3xl {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
}

.text-4xl {
  font-size: var(--text-4xl);
  line-height: var(--text-4xl--line-height);
}

.text-5xl {
  font-size: var(--text-5xl);
  line-height: var(--text-5xl--line-height);
}

.text-6xl {
  font-size: var(--text-6xl);
  line-height: var(--text-6xl--line-height);
}

.text-7xl {
  font-size: var(--text-7xl);
  line-height: var(--text-7xl--line-height);
}

.text-8xl {
  font-size: var(--text-8xl);
  line-height: var(--text-8xl--line-height);
}

.text-9xl {
  font-size: var(--text-9xl);
  line-height: var(--text-9xl--line-height);
}
