:root {
  --color-gray-50: #f9f9f9;
  --color-gray-100: #ebebeb;
  --color-gray-200: #cccccc;
  --color-gray-300: #b0b0b0;
  --color-gray-400: #969696;
  --color-gray-500: #7c7c7c;
  --color-gray-600: #616161;
  --color-gray-700: #494949;
  --color-gray-800: #323232;
  --color-gray-900: #1b1b1b;
  --color-gray-950: #111111;
}
