:root {
  --color-gray-50: #f9f9f9;
  --color-gray-100: #ebebeb;
  --color-gray-200: #cccccc;
  --color-gray-300: #b0b0b0;
  --color-gray-400: #969696;
  --color-gray-500: #7c7c7c;
  --color-gray-600: #616161;
  --color-gray-700: #494949;
  --color-gray-800: #323232;
  --color-gray-900: #1b1b1b;
  --color-gray-950: #111111;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;
  --color-green-950: #052e16;
}
