body {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-gray-900);
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  background-color: var(--color-gray-50);
}
